alabaster==0.7.13 ; python_version >= "3.9" and python_full_version < "4.0.0"
babel==2.12.1 ; python_version >= "3.9" and python_full_version < "4.0.0"
certifi==2022.12.7 ; python_version >= "3.9" and python_full_version < "4.0.0"
charset-normalizer==3.1.0 ; python_version >= "3.9" and python_full_version < "4.0.0"
colorama==0.4.6 ; python_version >= "3.9" and python_full_version < "4.0.0" and sys_platform == "win32"
contourpy==1.0.7 ; python_version >= "3.9" and python_full_version < "4.0.0"
cycler==0.11.0 ; python_version >= "3.9" and python_full_version < "4.0.0"
docutils==0.19 ; python_version >= "3.9" and python_full_version < "4.0.0"
flexsea==8.0.1 ; python_version >= "3.9" and python_full_version < "4.0.0"
fonttools==4.39.3 ; python_version >= "3.9" and python_full_version < "4.0.0"
idna==3.4 ; python_version >= "3.9" and python_full_version < "4.0.0"
imagesize==1.4.1 ; python_version >= "3.9" and python_full_version < "4.0.0"
importlib-metadata==6.6.0 ; python_version >= "3.9" and python_version < "3.10"
importlib-resources==5.12.0 ; python_version >= "3.9" and python_version < "3.10"
jinja2==3.1.2 ; python_version >= "3.9" and python_full_version < "4.0.0"
kiwisolver==1.4.4 ; python_version >= "3.9" and python_full_version < "4.0.0"
markupsafe==2.1.2 ; python_version >= "3.9" and python_full_version < "4.0.0"
matplotlib==3.7.1 ; python_version >= "3.9" and python_full_version < "4.0.0"
numpy==1.24.3 ; python_version >= "3.9" and python_full_version < "4.0.0"
packaging==23.1 ; python_version >= "3.9" and python_full_version < "4.0.0"
pillow==9.5.0 ; python_version >= "3.9" and python_full_version < "4.0.0"
pygments==2.15.1 ; python_version >= "3.9" and python_full_version < "4.0.0"
pyparsing==3.0.9 ; python_version >= "3.9" and python_full_version < "4.0.0"
pyserial==3.5 ; python_version >= "3.9" and python_full_version < "4.0.0"
pytermtk==0.22.0a4 ; python_version >= "3.9" and python_full_version < "4.0.0"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_full_version < "4.0.0"
pyyaml==6.0 ; python_version >= "3.9" and python_full_version < "4.0.0"
requests==2.29.0 ; python_version >= "3.9" and python_full_version < "4.0.0"
six==1.16.0 ; python_version >= "3.9" and python_full_version < "4.0.0"
smbus2==0.4.2 ; python_version >= "3.9" and python_full_version < "4.0.0"
snowballstemmer==2.2.0 ; python_version >= "3.9" and python_full_version < "4.0.0"
sphinx==6.2.1 ; python_version >= "3.9" and python_full_version < "4.0.0"
sphinxcontrib-applehelp==1.0.4 ; python_version >= "3.9" and python_full_version < "4.0.0"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.9" and python_full_version < "4.0.0"
sphinxcontrib-htmlhelp==2.0.1 ; python_version >= "3.9" and python_full_version < "4.0.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.9" and python_full_version < "4.0.0"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.9" and python_full_version < "4.0.0"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.9" and python_full_version < "4.0.0"
tornado==6.3.1 ; python_version >= "3.9" and python_full_version < "4.0.0"
urllib3==1.26.15 ; python_version >= "3.9" and python_full_version < "4.0.0"
zipp==3.15.0 ; python_version >= "3.9" and python_version < "3.10"
